@import url('https://fonts.googleapis.com/css?family=Lato');

.daily-videos-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.daily-video-div {
	position: relative;
	visibility: visible;
	overflow: hidden;
}

.daily-video-element {
	object-fit: cover;
}

/** Alone in call **/
.daily-videos-wrapper > .daily-video-div.local {
	grid-area: 1 / 1 / span 1 / span 1;
}

/** 2-person call **/
.daily-videos-wrapper.remote-cams-1 > .daily-video-div.remote {
	grid-area: 1 / 2 / span 2 / span 1;
}

/** 3-person call**/
.daily-videos-wrapper.remote-cams-2 > .daily-video-div.remote:nth-child(2) {
	grid-area: 1 / 2 / span 1 / span 1;
}
.daily-videos-wrapper.remote-cams-2 > .daily-video-div.remote:nth-child(3) {
	grid-area: 2 / 2 / span 1 / span 1;
}

/** 4-person call**/
.daily-videos-wrapper.remote-cams-3 {
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.daily-videos-wrapper.remote-cams-3 > .daily-video-div.local {
	grid-area: 1 / 1 / span 1 / span 2;
}
.daily-videos-wrapper.remote-cams-3 > .daily-video-div.remote:nth-child(2) {
	grid-area: 1 / 3 / span 1 / span 2;
}
.daily-videos-wrapper.remote-cams-3 > .daily-video-div.remote:nth-child(3) {
	grid-area: 2 / 3 / span 1 / span 1;
}
.daily-videos-wrapper.remote-cams-3 > .daily-video-div.remote:nth-child(4) {
	grid-area: 2 / 4 / span 1 / span 1;
}

.daily-video-overlay.mic-muted {
	background-color: rgba(255,255,255,0.3);
}

.daily-video-overlay.mic-muted::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(/demo/muted-microphone.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20%;
	filter: invert(100%);
}

.show-names .daily-video-overlay::after {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	content: attr(data-user-name);
	position: absolute;
	padding: 0.65em;
	bottom: 0.25em;
	left: 0.25em;
	background-color: rgba(255,255,255,0.3);
}

.daily-video-overlay.mic-muted::after {
	background-color: unset;
}

.info-div {
	position: fixed;
	width: 100%;
	bottom: 0;
	height: 1.5em;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	color: white;
	padding: 0.25em;
}

.low-bandwidth .info-div {
	background-color: grey;
}
.low-bandwidth .info-div::after {
	content: "32kb/s upstream video bandwidth cap";
}

.recording .info-div {
	background-color: red;
}
.recording .info-div::after {
	content: "recording";
}

.recording .info-div {
	background-color: red;
}
.recording .info-div::after {
	content: "recording ...";
}

.recording-uploading:not(.recording) .info-div {
	background-color: green;
}
.recording-uploading:not(.recording) .info-div::after {
	content: "uploading ...";
}


.video-circles .daily-video-div {
	width: 180;
}

.video-circles .daily-video-element.cam {
	border-radius: 50%;
	object-fit: cover;
}
